@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

.h1 {
  font-size: 28px;
  font-family: 'Roboto Condensed', sans-serif;
}
.h2 {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
}
.introtext {
  margin: 5%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
}

.introtext {
  margin: 5%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
}

.button {
  padding: 20px;
  maring-top: 20px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  background-color: #f5ff44;
  margin-top: 40px;
  top: 30px;
}

.circleQRCode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 38%;
}
.circleUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 62%;
}
.circleCam {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 25%;
}

.positionIcon {
  position: center;
}
