.menu {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 5rem;
  background-color: #ffffff;
}

.menu-item {
  flex: auto;
  justify-content: center;
  margin: auto 0;
  text-align: center;
  font-size: 22px;
}

.magic-circle {
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #f5ff44;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  margin: auto;
}

a {
  color: #000000;
}

.menu-wrapper {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 5rem;

  box-shadow: 0px -4px 18px rgb(200, 200, 200),
    10px 10px 10px rgba(0, 0, 0, 0.22);
}
